body {
    background-image: url("../img/fundo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column; /* <- ISSO AQUI! */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

h1 {
    font-family: "Creepster", cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: red;
    text-shadow: 2px 2px 4px black;
}

p {
    font-family: "IM Fell English", serif;
    font-size: 1.3rem;
    color: rgb(220, 220, 220);
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px black;
}

p1 {
    font-family: "IM Fell English", serif;
    font-size: 1.3rem;
    color: rgb(220, 220, 220);
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px black;
    max-width: 600px;      /* largura máxima */
    margin: 0 auto 20px;   /* centraliza e cria espaço */
    padding: 0 20px;       /* distância das bordas internas */
    text-align: center;    /* alinha o texto */
}


